openapi: 3.1.0
info:
  title: Mercoa Entities API
  description: 'The Mercoa REST API powers embedded accounts payable and accounts receivable

    workflows inside vertical SaaS platforms. This spec is a curated subset of

    the canonical Mercoa OpenAPI document

    (https://github.com/mercoa-finance/openapi). All requests authenticate with

    a Bearer token (API key or JWT) in the Authorization header.

    '
  version: '1.0'
  contact:
    name: Mercoa
    url: https://docs.mercoa.com/
servers:
- url: https://api.mercoa.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Entities
paths:
  /entity:
    get:
      tags:
      - Entities
      summary: List entities
      responses:
        '200':
          description: Paginated entities
    post:
      tags:
      - Entities
      summary: Create entity
      responses:
        '201':
          description: Created
  /entity/{entityId}:
    parameters:
    - $ref: '#/components/parameters/EntityId'
    get:
      tags:
      - Entities
      summary: Get entity
      responses:
        '200':
          description: Entity
    post:
      tags:
      - Entities
      summary: Update entity
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Entities
      summary: Delete entity
      responses:
        '204':
          description: Deleted
  /entity/{entityId}/accept-tos:
    parameters:
    - $ref: '#/components/parameters/EntityId'
    post:
      tags:
      - Entities
      summary: Accept Mercoa TOS for entity
      responses:
        '200':
          description: TOS accepted
  /entity/{entityId}/request-kyb:
    parameters:
    - $ref: '#/components/parameters/EntityId'
    post:
      tags:
      - Entities
      summary: Request KYB verification
      responses:
        '200':
          description: Request submitted
  /entity/{entityId}/token:
    parameters:
    - $ref: '#/components/parameters/EntityId'
    post:
      tags:
      - Entities
      summary: Generate entity token
      responses:
        '201':
          description: Token
  /entity/{entityId}/counterparties/payees:
    parameters:
    - $ref: '#/components/parameters/EntityId'
    get:
      tags:
      - Entities
      summary: List payee counterparties
      responses:
        '200':
          description: Paginated payees
  /entity/{entityId}/counterparties/payors:
    parameters:
    - $ref: '#/components/parameters/EntityId'
    get:
      tags:
      - Entities
      summary: List payor counterparties
      responses:
        '200':
          description: Paginated payors
components:
  parameters:
    EntityId:
      name: entityId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Mercoa API key or JWT. Send as "Authorization: Bearer {token}". API keys

        are issued from the Mercoa Dashboard and are backend-only. JWTs scope

        access to an entity or entity group.

        '
