openapi: 3.2.0
info:
  title: Mercoa Invoices API
  description: 'The Mercoa REST API powers embedded accounts payable and accounts receivable

    workflows inside vertical SaaS platforms. This spec is a curated subset of

    the canonical Mercoa OpenAPI document

    (https://github.com/mercoa-finance/openapi). All requests authenticate with

    a Bearer token (API key or JWT) in the Authorization header.'
  version: '1.0'
  contact:
    name: Mercoa
    url: https://docs.mercoa.com/
servers:
- url: https://api.mercoa.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Invoices
paths:
  /invoices:
    get:
      tags:
      - Invoices
      summary: List invoices across the organization
      responses:
        '200':
          description: Paginated invoices
      operationId: getInvoices
      x-operation-id-source: derived
    post:
      tags:
      - Invoices
      summary: Bulk create invoices
      responses:
        '201':
          description: Created
      operationId: postInvoices
      x-operation-id-source: derived
    put:
      tags:
      - Invoices
      summary: Bulk update invoices
      responses:
        '200':
          description: Updated
      operationId: putInvoices
      x-operation-id-source: derived
  /invoices/approve:
    post:
      tags:
      - Invoices
      summary: Bulk approve invoices
      responses:
        '200':
          description: Approved
      operationId: postInvoicesApprove
      x-operation-id-source: derived
  /invoice:
    post:
      tags:
      - Invoices
      summary: Create invoice
      responses:
        '201':
          description: Created
      operationId: postInvoice
      x-operation-id-source: derived
  /invoice/{invoiceId}:
    parameters:
    - $ref: '#/components/parameters/InvoiceId'
    get:
      tags:
      - Invoices
      summary: Get invoice
      responses:
        '200':
          description: Invoice
      operationId: getInvoiceByInvoiceId
      x-operation-id-source: derived
    post:
      tags:
      - Invoices
      summary: Update invoice
      responses:
        '200':
          description: Updated
      operationId: postInvoiceByInvoiceId
      x-operation-id-source: derived
    delete:
      tags:
      - Invoices
      summary: Delete invoice
      responses:
        '204':
          description: Deleted
      operationId: deleteInvoiceByInvoiceId
      x-operation-id-source: derived
  /invoice/{invoiceId}/events:
    parameters:
    - $ref: '#/components/parameters/InvoiceId'
    get:
      tags:
      - Invoices
      summary: List invoice events
      responses:
        '200':
          description: Events
      operationId: getInvoiceByInvoiceIdEvents
      x-operation-id-source: derived
  /invoice/{invoiceId}/add-approver:
    parameters:
    - $ref: '#/components/parameters/InvoiceId'
    post:
      tags:
      - Invoices
      summary: Add approver to invoice
      responses:
        '200':
          description: Added
      operationId: postInvoiceByInvoiceIdAddApprover
      x-operation-id-source: derived
  /invoice/{invoiceId}/approve:
    parameters:
    - $ref: '#/components/parameters/InvoiceId'
    post:
      tags:
      - Invoices
      summary: Approve invoice
      responses:
        '200':
          description: Approved
      operationId: postInvoiceByInvoiceIdApprove
      x-operation-id-source: derived
  /invoice/{invoiceId}/reject:
    parameters:
    - $ref: '#/components/parameters/InvoiceId'
    post:
      tags:
      - Invoices
      summary: Reject invoice
      responses:
        '200':
          description: Rejected
      operationId: postInvoiceByInvoiceIdReject
      x-operation-id-source: derived
components:
  parameters:
    InvoiceId:
      name: invoiceId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Mercoa API key or JWT. Send as "Authorization: Bearer {token}". API keys

        are issued from the Mercoa Dashboard and are backend-only. JWTs scope

        access to an entity or entity group.

        '
